block vars
  - var active = 'HTV band';
extends base

block content
  div#main.body.home.bg-white
    div#page-intro
      // TODO slider?
      h1.entry-title &ldquo;Are you ready for some ballroom blues?&rdquo;
      p
        em
          | Deze zin is uitgesproken door de hoofdrolspelers in de wereldberoemde film de Blues Brothers.<br/>
          | Een film gemaakt uit liefde voor de muziek.<br/>
          | HTV deelt deze liefde voor muziek die met passie gespeeld wordt.
      img(src='img/htv-band-cartoon.png')

  // content (ie markdown) here
  footer#contentinfo.body
    p haaoo
  
    //include 'analytics.html'
    // include 'piwik.html'
