block vars
  - var active = 'HTV band';
extends base

block content
  div#main.body.home.bg-white
    div#page-intro
      // TODO slider?
      h1.entry-title &ldquo;Are you ready for some ballroom blues?&rdquo;
      img(src='img/htv-band-cartoon.png')

  // content (ie markdown) here
  footer#contentinfo.body
    p haaoo
  
    //include 'analytics.html'
    // include 'piwik.html'
